
body{
    --mainColor1: rgba(193, 128, 67, 0.5);
    --mainColor: rgba(72,117,73, 0.9);
    --navbarColor: rgb(235, 234, 235);
    --titles: rgba(193, 128, 67, 1);
    background-color: var(--mainColor);
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    text-align: center;
    position: relative;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

h1, h2{
    font-family: 'Amatic SC';
}

h2{
    font-size: 2.2em;
}

#navbar{
    background-color: var(--navbarColor);
    position: fixed;
    z-index:1000;
    top: 0;
    text-align: right;
    right: 0;
    width:100%;
    font-family: 'Amatic SC';
    font-weight: 600;
}

 a{
    text-decoration: none;
    margin-right:0.8em;
    font-size:2em;
    color: black;
}

#navbar a:hover{
    color: rgba(72,117,73, 1);
    font-weight: 600;
    transition: .2s ease;
}
.picture{
    position: relative;
    width: 100%;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    margin-top: 0.5em;
}

.text-block{
    position: absolute;
    bottom: 400px;
    right: 1.5em;
}

h1{
    color: #db8400;
    /* color: #be7302;
    color:var(--mainColor)*/
    font-size: 4.1em;
}

.picture h2{
    font-size: 3.2em;
    margin:0.2em;
    padding: 0.2em;
}

.mainText{
    margin: 5em auto 5em auto;
    font-size: 1.2em;
    height: auto;
}
#aboutMe{
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.3em;
    width: 60%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    color:#eee;
}
#aboutMe h2{
    text-align: center;
    padding-bottom: 2em;
}
#aboutMe p{
    padding-top: 0;
    margin-top: 0;
}
svg{
    fill: var(--mainColor);

}

.projects{
    min-width: 102%;
    background-color:white;
    margin: 5em auto 5em auto;
    padding-bottom: 4em;
    height: auto;
    text-align: start;
    position: relative;
}
.projects h2, .project-tile{
    text-align: center;
}

.projects h2{
    font-size: 5em;
}

.projects::before{
    content: '';
    position: absolute;
    z-index:100;
    background-color:rgba(72,117,73);
    opacity: 0.9;
    width:100%;
    height:100%;
   clip-path: polygon(100% 91%, 0 100%, 100% 101%);
}

#myWork h2{
    font-size: 2em;
}

.projectGrid{
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 440px));
    width:80%; 
    height: auto;
    justify-content: center;
    margin-bottom: 12em;
}

.project-tile{
    background-color: rgb(194, 194, 194, 0.7);
    opacity: 1;
    padding:0.5em;
    position: relative;
    border-radius: 4%;
    height: 14em;
    width: auto;
    margin: 1em;
}

.projectImage{
    object-fit: cover;
    width:100%;
    padding-right: 0.5em;
    height: 11.5em;
    display: block;
}

.overlay{
    position: absolute;
    border-radius:4%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:auto;
    width:100%;
    opacity:0;
    transition: .5s ease;
    background-color: rgb(72,117,73);
    display: flex;
    flex-direction: column;
}

.project-tile:hover .overlay{
    opacity: 0.95;
}

.project-title{
    font-size: 1.2em;
    padding:0.3em 0 0 0;
    margin:0;
}

.hiddenText{
    height:100%;
}
.hiddenText ul{
    font-size: auto;
    line-height: 1.5em;
    color: black;
    font-weight: 500;
    margin: 5% auto auto auto;
    height:70%;
    align-items: flex-start;
}

.hiddenText a{
    width: 40%;
    height:10%;
    font-weight: 700;
    color: #db8400;
    text-align: center;
    text-decoration: underline;
    align-items: flex-end;
}

#aCode{
    float: left;
}

#aApp{
    float: right;
}

li{
    font-size: 1.3em;
    list-style-type: none;
    padding-top: 0.1em;
}
.technologies{
    font-size: 1.4em;
    margin-top: 4em;
    width: 100%;
    height: 100%;
    text-align: center;
}
.technologies h2{
    font-size: 2.5em;
    padding-bottom: 1em;
}
.technologiesGird{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    width:80%;
    justify-content: center;
}

.techImage{
    padding:0.3em;
    border-radius: 4%;
    height: 6.5em;
    text-align: center;
}

.techImage img{
    border-radius: 10%;
    width:100%;
    object-fit: cover;
    display: block;
    height: 85%;
    padding: 0.3em;
    background-color: transparent;
}

#contactMe{
    padding-top: 10em;
    padding-bottom: 10em;
    width:85%;
    margin: auto;
    color: #eee;
}

/* a{
    text-decoration: none;
    margin: 0.5em;
    font-size:1.8em;
    color: black;
} */

#contactMe h2{
    font-size: 2.8em;
    padding-top: 1.5em;
    line-height: 1.5em;
}

.fa{
    margin-top: 0;
    color: var(--navbarColor)
}

.fa:hover{
    color: #333;
    transition: 0.5s ease;
}

.fa-file{
    position: relative;
}

.fa-file::after{
  content: 'CV';
  position: absolute;
  top: 0.6em;
  left:0.1em;
  right:0;
  bottom:0;
  width:80%;
  color: var(--mainColor);
  font-size: 0.55em;
}

footer{
    background-color:var(--navbarColor);
    width: 100%;
    margin: auto;
    font-size: 1.8em;
    padding:0.1em;
    bottom: 0;
    font-weight: 600;
}
 
@media screen and (min-width: 1300px){
    .text-block{
        right: 10em;
    }
    #aboutMe{
        width:55%;
    }
    .technologiesGird{
        width:60%;
    }
    #contactMe h2{
        font-size: 3.5em;
    }
    .fa{
        font-size: 5em;
    }
}

@media screen and (max-width: 1250px){
    .text-block{
        right: 0.2em;
        max-width:60%; 
    }
    #aboutMe{
        width:85%;
    }
}
@media screen and (max-width: 550px){
    #navbar a{
        margin: 0.2em;
        font-size:1.5em;
    }
    #aboutMe h2{
        line-height: 1.5em;
    }
    .text-block{
        right: 0.2em;
        max-width:60%; 
        bottom: 250px;
        font-size: 1em;
    }
    .projectGrid{
        width: 100%;
    }
    #contactMe{
        width:100%;
    }
}




